.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.body {
  margin-top: 10%;
  display: flex;
  justify-content: center;
}

.navbar {
  position: absolute;
  width: 98%;
  height: 70px;
  left: 0px;
  top: 0px;
  padding: 2%;
  
}

.loging {
  position: absolute;
  width: 70px;
  height: 34px;
  left: 960px;
  top: 39px;
  border-radius: 15px;
  border-style: none;
  
}

.signup {
  position: absolute;
  width: 70px;
  height: 34px;
  left: 880px;
  top: 39px;
  border-radius: 15px;
  border-style: none;
  
}

.nav-link {
  position: absolute;
  width: 217px;
  height: 19px;
  left: 700px;
  top: 49px;
  display: flex;
}

.navbar a {
  text-decoration: none;
  color: black;
  margin-right: 5%;
  
}
